@media (max-width:1180px) {
.box{
    height: 600px;
  
}

}
@media (max-width:1100px) {
.box{
    height: 550px;
  
}

}
@media (max-width:1000px) {
.box{
    height: 500px;
}

}
@media (max-width:1000px) {
.box{
    height: 450px;
}

}
@media (max-width:850px) {
   .main{
    margin-top: -100px;
   }

.box{
    height: 400px;
}

}
@media (max-width:750px) {

    .main{
        margin-top: -90px;
       }

.box{
    height: 350px;
}
}
@media (max-width:650px) {
    .main{
        margin-top: -80px;
       }
   
    .box{
        height: 300px;
    }
  
}
@media (max-width:600px) {
    .main{
        margin-top: -70px;
       }
   
    .box{
        height: 250px;
    }
  
}
@media (max-width:550px) {
    .main{
        margin-top: -60px;
       }
   
    .box{
        height: 200px;
    }
  
}
@media (max-width:500px) {

   
    .box{
        height: 200px;
    }
  
}
@media (max-width:450px) {

   
    .box{
        height: 180px;
    }
  
}
@media (max-width:400px) {

   
    .box{
        height: 150px;
    }
  
}
